.landing {
  position: relative;
  display: flex;
  height: 100vh;
  scale: 1;
  width: 100vw;
  overflow: hidden;
  
 
}
.landing img {
  width: 100vw;
  object-fit: cover;
}

/* Slider container */
.landing .sliderContainer {
  position: absolute;
  top: calc(100vh - 270px);
}

/* Slider itself */
.landing .slider {
  position: relative;
  white-space: nowrap;
}

/* Slider text */
.landing .slider p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: 230px;
  font-weight: 500;
  padding-right: 50px;
}

.landing .slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}

/* Description block */
.landing .description {
  position: absolute;
  top: 35%;
  left: 65%;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.landing .description p {
  margin: 0px;
  margin-bottom: 10px;
}

.landing .description svg {
  transform: scale(2);
  margin-bottom: 100px;
}

/* ----------- Responsive styles ----------- */
@media (max-width: 1200px) {
  .landing .slider p {
    font-size: 120px;
    padding-right: 30px;
  }
  .landing .description {
    font-size: 18px;
    left: 55%;
    top: 30%;
  }
  .landing .sliderContainer {
  position: absolute;
  top: calc(100vh - 150px);
  
}
}

@media (max-width: 800px) {
  .landing {
    height: 100vh;

  }
  .landing img {
    height: 100%;
    object-fit: cover;
  }
  .landing .slider p {
    font-size: 60px;
    padding-right: 16px;
  }
  .landing .sliderContainer {
    position: absolute;
  top: calc(100vh - 100px);
  }
  .landing .description {
    font-size: 14px;
    left: 10%;
    top: 60%;
    width: 80vw;
    text-align: left;
  }
  .landing .description svg {
    transform: scale(1.2);
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .landing {
    height: 100vh;
    transition: all 0.2s;
  }
  .landing .slider p {
    font-size: 50px;
    padding-right: 8px;
  }
  .landing .sliderContainer {
    top: calc(100vh - 90px);
  }
  .landing .description {
    font-size: 12px;
    left: 5%;
    top: 65%;
    width: 90vw;
  }

  
}