.experience{
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
    
    .divider_container {
        
        position: relative;
        width: 80%;
        pa
        .divider_line {
        border: none;
        border-top: 1px solid #dcdcdc;
        margin: 0;
        }
        
    }
    
.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 24px;
  color: #333;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 80%;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.timelineItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.left {
  justify-content: flex-end;
}

.right {
  justify-content: flex-start;
}

.content {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 44%; // control size
  position: relative;
}

.verticalLine {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background-color: #ccc;
  transform: translateX(-50%);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 1.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  z-index: 2;
}


}

.cando {
  margin-top: 100px;
  width: 100%;
  z-index: 2;
  position: relative;
  background-color: white;

  .heading{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 40px;
    
  }
  .box {
    width: 80%;
    min-height: 200px; // hoặc height: 100%; nếu cha có height cố định
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: stretch; // Đảm bảo các item cao bằng nhau
     // Khoảng cách giữa các item
    gap: 20px;
    margin: 0 auto; // Căn giữa
    padding: 20px;
    
    .box_item {
      flex: 1; // Mỗi item chiếm đều không gian
      
      flex-direction: column;
      align-items: center;
      font-size: 22px;
      background: white;
      border-radius: 12px;
      min-height: 180px; // hoặc height: 100%; nếu muốn bằng nhau tuyệt đối
      box-sizing: border-box;
      gap: 20px;
      position: relative;
    }
  }
}